<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Detalle de género</title>
</head>
<body>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detalle del género</title>
</head>
<body>
    <h1>Detalle del género</h1>

    <div>
        <div>ID: <span>{{ genre.id }}</span></div>
        <div>Nombre_género: <span>{{ genre.name_genre }}</span></div>
       
    </div>

    <br>
    
    <a href="/genres">Volver a la lista</a>
</body>
</html>