<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ request.url_for('static', path='bootstrap/css/bootstrap.min.css') }}">   
    <title>Claquet App</title>
<head><link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"></head> 
<body>
    <div class="container mt-5">
        <div class="row justify-content-center mb-5">
            <div class="col-md-8 text-center">
                <h1 class="display-4 mb-4">Claquet App <i class="fa-solid fa-film"></i></h1>
                <p class="lead mb-4">¡El cine de calidad cada vez mas cerca de ti!</p>
                <div class="row g-3 mt-4">
                
                <div class="col-12 col-md-6">
                    <a href="/peliculas" class="btn btn-primary btn-lg w-100">Listado de peliculas</a>
                </div>
                <div class="col-12 col-md-6">
                    <a href="/salas" class="btn btn-success btn-lg w-100">Listado de salas</a>
                </div>

                <div class="col-12 col-md-6">
                    <a href="/horarios" class="btn btn-secondary btn-lg w-100">Listado de horarios</a>
                </div>

                <div class="col-12 col-md-6">
                    <a href="/genres" class="btn btn-warning btn-lg w-100">Listado de géneros</a>
                </div>

                <div class="col-12 col-md-6">
                    <a href="/ventas" class="btn btn-info btn-lg w-100">Listado de ventas</a>
                </div>
                </div>
                
            </div><!--faltaría incorporar película... por el momento no es posible-->
        </div>
    </div>
    <script src="{{ request.url_for('static', path='bootstrap/js/bootstrap.bundle.min.js') }}"></script>   
</body>
</html>
